In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('words.db')
c = conn.cursor()
c.execute("""CREATE TABLE words
(word_id integer NOT NULL,
word text NOT NULL DEFAULT 'apple',
sructure text,
part_of_speech NOT NULL DEFAULT 'noun')
""")

In [4]:
c.execute("""INSERT INTO words VALUES (1, 'table', 'R0F4', 'noun'),
             (2, 'apple', 'R1Z2', 'noun'),
             (3, 'animal', 'R2N3', 'noun'),
             (4, 'house', 'R4H4', 'noun'),
             (5, 'run', 'M1K2', 'verb'),
             (6, 'bring', 'M2H3', 'verb'),
             (7, 'hide', 'M3Y4', 'verb'),
             (8, 'fly', 'M4E5', 'verb'),
             (9, 'lazy', 'K1T2', 'adjective'),
             (10, 'pretty', 'K2P3', 'adjective'),
             (11, 'handsome', 'K2F4', 'adjective'),
             (12, 'cute', 'K3M5', 'adjective')""")
conn.commit()

In [5]:
for row in c.execute('SELECT * FROM words'):
    print(row)

(1, 'table', 'R0F4', 'noun')
(2, 'apple', 'R1Z2', 'noun')
(3, 'animal', 'R2N3', 'noun')
(4, 'house', 'R4H4', 'noun')
(5, 'run', 'M1K2', 'verb')
(6, 'bring', 'M2H3', 'verb')
(7, 'hide', 'M3Y4', 'verb')
(8, 'fly', 'M4E5', 'verb')
(9, 'lazy', 'K1T2', 'adjective')
(10, 'pretty', 'K2P3', 'adjective')
(11, 'handsome', 'K2F4', 'adjective')
(12, 'cute', 'K3M5', 'adjective')

In [6]:
sql1 = 'SELECT word FROM words ORDER BY word DESC'
for row in c.execute(sql1):
    print(row)

('table',)
('run',)
('pretty',)
('lazy',)
('house',)
('hide',)
('handsome',)
('fly',)
('cute',)
('bring',)
('apple',)
('animal',)

In [7]:
sql2 = 'SELECT word FROM words WHERE part_of_speech = "verb"'
for row in c.execute(sql2):
    print(row)

('run',)
('bring',)
('hide',)
('fly',)

In [8]:
sql3 = 'SELECT * FROM words WHERE word_id > 7'
for row in c.execute(sql3):
    print(row)

(8, 'fly', 'M4E5', 'verb')
(9, 'lazy', 'K1T2', 'adjective')
(10, 'pretty', 'K2P3', 'adjective')
(11, 'handsome', 'K2F4', 'adjective')
(12, 'cute', 'K3M5', 'adjective')